* text=auto eol=lf
*.png binary
*.jpg binary
*.ico binary
contracts/typescript/*.generated.ts linguist-generated=true
contracts/swift/*.generated.swift linguist-generated=true
ios/JobmanDashboard.xcodeproj/project.pbxproj linguist-generated=true
